/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 body,.site-content-contain {
    background-color: #f1f1f1;
    position: relative;
}
.hostcloud-bg-block {
    height: 1px;
    width: 1px;
    display: none;
}
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');

 h1.notsupported {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px;
}
 div#tool {
    padding-left: 35px;
    padding-right: 35px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
}
.toolcontents {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.sidecats ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}
.sidecats ul li {
    padding: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
	color: #6a6a6a;
}
.sidecats ul li.active{
    background: var(--toolgeneral);
    border-radius: 5px;
    color: #fff;
}
.sidecats {
    padding: 10px;
    width: 25%;
    border: 1px solid #dddddd90;
    height: fit-content;
    background-color: var(--toolbg_color);
    max-height: 90vh;
    overflow-y: auto;
}
/* width */
.sidecats::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.sidecats::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.sidecats::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.sidecats::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.sidecats ul {
    padding-left: 12px !important;
    border-left: 1px solid #ddd;
    margin-left: 20px !important;
}
.sidecats .charts {
    margin-bottom: 20px;
}
h3.listtitle {
    font-size: 16px;
    color: var(--toolgeneral);
    background: #f9f9f9;
    margin: 0;
    padding: 5px;
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
}
.chartviews {
    width: 70%;
    background-color: var(--toolbg_color);
}
.chartviews.charttoggle{
    width: 100% !important;
}
.filtersCoin {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
}
.filter {
    display: flex;
    font-size: 14px;
    gap: 5px;
    align-items: center;
}
.filter input[type=radio]{
    display: none;
}
.filter.coins{
    display: none;
}
.filter input[type=radio] + label {
    margin: 0;
    cursor: pointer;
    padding: 0px 5px;
    display: inline-block;
    background-color: transparent;
	color: #6a6a6a;
    user-select: none;
    font-family: 'Raleway', sans-serif;
}
.filter input[type=radio]:checked + label {
    background: var(--toolgeneral);
    color: #fff;
    border-radius: 3px;
}

.loaderbody {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #0d0d0d73;
    z-index: 999;
}
.spinner {
    --color: #ffffff;
    --fade-color: #ffffff;
    --scale: 1;
    --x-speed: 1;
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    transform: scale(var(--scale)) rotateZ(0);
    animation: ps-spin calc(15s / var(--x-speed)) linear infinite;
}

@keyframes ps-spin {
    from {
        transform: scale(var(--scale)) rotateZ(0);
    }
    to {
        transform: scale(var(--scale)) rotateZ(-360deg);
    }
}

.spinner span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.spinner span::before,
.spinner span::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%) scale(0.3);
    background-color: rgba(var(--color) / 50%);
    border-radius: 50%;
    animation: ps-spinner-scale calc(1.2s / var(--x-speed)) linear infinite;
}

@keyframes ps-spinner-scale {
    0% {
        background-color: var(--fade-color);
        transform: translateY(-50%) scale(0.3);
    }
    25% {
        background-color: var(--color);
        transform: translateY(-50%) scale(1);
    }
    80% {
        background-color: var(--fade-color);
        transform: translateY(-50%) scale(0.3);
    }
    100% {
        background-color: var(--fade-color);
        transform: translateY(-50%) scale(0.3);
    }
}

.spinner span::before {
    left: 0;
}

.spinner span::after {
    right: 0;
}

.spinner span:first-of-type {
    transform: rotateZ(-45deg);
}

.spinner span:last-of-type {
    transform: rotateZ(45deg);
}

.spinner span:nth-of-type(2) {
    transform: rotateZ(90deg);
}

.spinner span:nth-of-type(3)::after {
    animation-delay: calc(0.15s / var(--x-speed));
}
.spinner span:last-of-type::after {
    animation-delay: calc(0.3s / var(--x-speed));
}
.spinner span:nth-of-type(2)::after {
    animation-delay: calc(0.45s / var(--x-speed));
}
.spinner span:first-of-type::before {
    animation-delay: calc(0.6s / var(--x-speed));
}
.spinner span:nth-of-type(3)::before {
    animation-delay: calc(0.75s / var(--x-speed));
}
.spinner span:last-of-type::before {
    animation-delay: calc(0.9s / var(--x-speed));
}
.spinner span:nth-of-type(2)::before {
    animation-delay: calc(1.05s / var(--x-speed));
}
span.collepsebtn {
    padding: 4px 10px;
    border: 1px solid #333;
    display: inline-flex;
    background-color: var(--toolbg_color);
    cursor: pointer;
    user-select: none;
}
span.collepsebtn svg {
    fill: #6a6a6a;
}
.collepsebutton {
    margin-bottom: 10px;
}
.sidetoggle{
    position: absolute;
    left: -100% !important;
}
@media only screen and (max-width: 768px) {
    div#tool {
        padding-left: 10px;
        padding-right: 10px;
    }
    .toolcontents {
        display: block;
        position: relative;
    }
    .sidecats {
        position: absolute;
        left: 0;
        width: 40%;
    }
    .sidecats {
        width: 60%;
    }
    .chartviews {
        width: 100%;
        background-color: #fff;
    }
    h3.listtitle {
        font-size: 14px;
    }
    .sidecats ul li{
        font-size: 12px;
    }
}